.alert-wrapper {
  @include flex-center(row);
  width: 80vw;
  margin: 0 auto;
}

.alert-container {
  background: $clr-white;
  border: 2px solid $clr-primary-6;
  border-radius: 4px;
  @include flex-center(column);
  color: $clr-black;
  width: 100%;
  text-align: center;

  p {
    margin-bottom: 0;
    padding: 1rem 2rem;
  }
}
.submitter-name {
  display: block;
  font-weight: bold;
}
